.App {
  text-align: center;
  background: rgb(241, 235, 235);
}

img{
  width: 100%;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item {
  padding: 15px;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 100%;
  background-color: green;
  transition: bottom ease 1s;
  opacity: .6;
  font-size: 10px;
}

.item:hover .overlay{
  opacity: .6;
  bottom: 0;
}



