.App {
  text-align: center;
}


img {
  width: 100%
}
.container{
  display: flex
}
.item {
  flex: 1;
  padding: 30px;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: green;
  transition: bottom ease 1s;
  opacity: .6;
}
.item:hover .overlay{
  opacity: .6;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

//{}
